### Objectives

First, create a graph representation of the information we have. 
This would be information about the elements, and the nodes. 
Using this, we will feed it into our SVM, or a Random Forest, and see from there onwards

In [34]:
import pandas as pd
import igraph as ig

def Mitograph_Graph(FileName):
    # Read information from the gnet file, and create a graph object
    # generate a function that takes in the filename and gives out the graph
    G = pd.read_table(FileName + '.gnet', skiprows=1, sep='\t', names=['Source', 'Target', 'Length'])
    graph = ig.Graph.TupleList(G.itertuples(index=False), directed=False, edge_attrs=['Length'])
    layout = graph.layout_auto()  # Automatic layout calculation
    graph.vs['degree'] = graph.degree()
    # ig.plot(graph, layout=layout)
    Vol = pd.read_table(FileName + '.cc', skiprows=0, sep='\t')
    Vol.columns = ['node', 'cc', 'vol_cc']

    ids = [int(node['name']) for node in graph.vs]
    graph.vs['cc_vol'] = [Vol.loc[Vol['node'] == node, 'vol_cc'].values[0] for node in ids]
    graph.vs['cc'] = [Vol.loc[Vol['node'] == node, 'cc'].values[0] for node in ids]
    return graph, Vol

In [35]:
df_dir = '/home/mitosim2/Desktop/BIRATAL/Tcdd11s_subsetted/AnalysisFiles_TCDD1nM4hr1_Subset/structural/TCDD1nM4hr1_Subset_structural'
df_dir_2 = '/home/mitosim2/Desktop/BIRATAL/Tcdd11s_subsetted/AnalysisFiles_TCDD1nM4hr1_Subset/full_Table_TCDD1nM4hr1_Subset.csv' 
df = pd.read_csv(df_dir_2)
graph, Vol = Mitograph_Graph(df_dir)

In [46]:
FileName = df_dir
G = pd.read_table(FileName + '.gnet', skiprows=1, sep='\t', names=['Source', 'Target', 'Length'])

In [48]:
df

       node  cc_x  line_id  element_pixel_intensity_ratio
0       NaN     0      130                       0.097645
1       NaN     0      130                       0.097645
2       NaN     0      130                       0.097645
3       NaN     0      130                       0.097645
4       NaN     0      130                       0.097645
...     ...   ...      ...                            ...
2387    NaN   104        1                       0.074575
2388    NaN   104        1                       0.074575
2389    NaN   104        1                       0.074575
2390    NaN   104        1                       0.074575
2391  365.0   104        1                       0.074575

[2392 rows x 4 columns]

     Source  Target   Length
0       367     182  1.53210
1       366     365  1.04354
2       364     363  1.13765
3       362     300  1.82138
4       361     293  0.57320
..      ...     ...      ...
277     228     227  1.77249
278      80     154  1.74285
279      65      38  2.33208
280      42      24  2.63969
281      32      26  1.74560

[282 rows x 3 columns]

In [37]:
df = df[['node', 'cc_x', 'line_id', 'element_pixel_intensity_ratio']]

In [44]:
# print the names of the graph
graph.vs().attributes()

['name', 'degree', 'cc_vol', 'cc']

In [39]:
len(df['line_id'].unique())

282

In [45]:
graph.es().attributes()

['Length']

In [40]:
ids = [int(node['name']) for node in graph.vs]
print(ids)
graph.vs['cc']
graph.vs['cc_vol']
graph.vs[''] = [Vol.loc[Vol['node'] == node, 'cc'].values[0] for node in ids]

# print([df['cc_vol_from_img_(um3)'].loc[df['node'] == node].values[0] for node in ids])
# print([df['cc_x'].loc[df['node'] == node].values[0] for node in ids])

[367, 182, 366, 365, 364, 363, 362, 300, 361, 293, 360, 189, 359, 291, 358, 357, 284, 355, 287, 356, 285, 354, 283, 353, 347, 352, 273, 351, 128, 350, 276, 349, 348, 270, 346, 344, 267, 268, 125, 345, 264, 343, 341, 342, 257, 339, 176, 338, 334, 337, 254, 336, 262, 335, 333, 332, 245, 331, 247, 330, 244, 329, 328, 169, 327, 326, 227, 325, 323, 158, 324, 322, 321, 316, 320, 319, 318, 110, 317, 221, 218, 315, 228, 314, 222, 313, 156, 312, 216, 311, 212, 214, 213, 310, 211, 309, 210, 149, 76, 308, 101, 307, 206, 201, 205, 306, 305, 304, 200, 303, 301, 302, 147, 198, 299, 298, 197, 297, 191, 296, 194, 295, 294, 141, 140, 193, 190, 292, 137, 290, 187, 289, 131, 288, 185, 186, 286, 130, 282, 281, 280, 183, 279, 278, 277, 275, 266, 272, 265, 271, 180, 261, 178, 263, 175, 181, 179, 260, 258, 259, 123, 177, 256, 174, 253, 252, 251, 250, 172, 249, 246, 248, 171, 243, 167, 237, 242, 240, 241, 239, 238, 164, 236, 234, 159, 233, 165, 232, 231, 230, 163, 229, 226, 225, 219, 224, 223, 220, 153, 217, 81, 155, 215, 102, 78, 152, 209, 208, 207, 99, 204, 203, 202, 199, 196, 195, 192, 142, 132, 139, 136, 138, 188, 184, 173, 122, 170, 121, 166, 162, 161, 160, 118, 157, 108, 107, 154, 80, 151, 106, 103, 150, 100, 148, 146, 145, 144, 97, 143, 96, 95, 135, 134, 133, 59, 94, 40, 129, 91, 127, 126, 124, 82, 120, 84, 119, 117, 116, 115, 114, 113, 109, 112, 111, 105, 104, 45, 70, 68, 77, 54, 98, 75, 93, 92, 73, 90, 89, 88, 87, 86, 85, 83, 29, 55, 79, 69, 72, 65, 71, 63, 67, 60, 66, 56, 64, 62, 61, 58, 57, 52, 44, 47, 53, 43, 51, 50, 49, 48, 46, 20, 41, 39, 27, 37, 31, 36, 35, 34, 28, 33, 25, 30, 10, 23, 7, 22, 21, 19, 18, 17, 16, 15, 4, 14, 13, 12, 11, 9, 8, 6, 5, 3, 2, 1, 0, 340, 269, 235, 168, 74, 274, 255, 38, 42, 24, 32, 26]

[0.2055,
 0.2055,
 0.15683,
 0.15683,
 0.24336,
 0.24336,
 0.51917,
 0.51917,
 5.49994,
 5.49994,
 1.6873,
 1.6873,
 1.31955,
 1.31955,
 1.31955,
 1.6873,
 0.59488,
 0.59488,
 0.59488,
 1.47638,
 1.47638,
 1.47638,
 1.47638,
 0.43805,
 0.43805,
 4.74822,
 4.74822,
 1.29251,
 1.29251,
 0.51917,
 0.51917,
 4.74822,
 0.10816,
 0.10816,
 3.75856,
 3.75856,
 4.74822,
 4.74822,
 3.75856,
 4.74822,
 4.74822,
 3.75856,
 3.75856,
 0.18928,
 0.18928,
 0.50835,
 0.50835,
 1.40608,
 1.40608,
 0.52458,
 0.52458,
 0.94099,
 0.94099,
 0.52458,
 1.40608,
 1.53046,
 1.53046,
 0.18387,
 0.18387,
 0.8112,
 0.8112,
 0.8112,
 0.37856,
 0.37856,
 0.04326,
 0.04326,
 12.67635,
 12.67635,
 12.67635,
 12.67635,
 0.12979,
 0.12979,
 12.67635,
 12.67635,
 0.04867,
 0.04867,
 12.67635,
 12.67635,
 0.28662,
 0.28662,
 12.67635,
 12.67635,
 0.0,
 1.9631,
 1.9631,
 0.86528,
 0.86528,
 0.23795,
 0.23795,
 10.12918,
 10.12918,
 10.12918,
 10.12918,
 12.67635,
 12.67635,
 10.12918,
 10.12918,
 10.12918,
 10.12918,
 12.67635,
 12.67635,
 0.28122,
 0.28122,
 1.4169,
 1.4169,
 1.4169,
 1.4169,
 1.4169,
 1.4169,
 0.61651,
 0.61651,
 0.61651,
 0.61651,
 1.13027,
 1.13027,
 1.13027,
 1.13027,
 5.49994,
 5.49994,
 0.18928,
 0.18928,
 0.10816,
 0.10816,
 5.49994,
 2.39034,
 2.39034,
 1.6873,
 2.39034,
 2.39034,
 0.21091,
 0.21091,
 1.72515,
 1.72515,
 2.15779,
 2.15779,
 2.15779,
 1.29251,
 1.29251,
 0.59488,
 1.72515,
 0.22714,
 0.22714,
 1.29251,
 0.09194,
 0.09194,
 0.58406,
 0.58406,
 0.42723,
 0.42723,
 0.14602,
 0.14602,
 4.74822,
 4.74822,
 0.52998,
 0.52998,
 0.94099,
 0.94099,
 4.74822,
 4.74822,
 0.9464,
 0.9464,
 4.74822,
 0.52458,
 4.74822,
 0.24877,
 0.24877,
 4.74822,
 4.74822,
 4.74822,
 0.24877,
 0.24877,
 0.70304,
 0.70304,
 1.53046,
 0.8112,
 1.53046,
 1.40608,
 1.40608,
 0.23254,
 0.23254,
 1.40608,
 1.53046,
 1.53046,
 0.09194,
 0.09194,
 0.68682,
 0.68682,
 12.67635,
 12.67635,
 12.67635,
 12.67635,
 12.67635,
 1.9631,
 1.9631,
 1.9631,
 1.9631,
 0.86528,
 1.9631,
 1.9631,
 12.67635,
 12.67635,
 0.63814,
 10.12918,
 10.12918,
 10.12918,
 12.67635,
 2.1632,
 2.1632,
 2.1632,
 2.1632,
 0.31907,
 0.31907,
 1.4169,
 1.4169,
 0.84365,
 0.84365,
 2.39034,
 2.39034,
 5.49994,
 2.39034,
 5.49994,
 2.39034,
 1.6873,
 1.29251,
 0.70304,
 4.74822,
 0.70304,
 0.8112,
 0.8112,
 0.4056,
 0.4056,
 1.09782,
 1.09782,
 12.67635,
 0.86528,
 0.63814,
 10.12918,
 10.12918,
 12.67635,
 12.67635,
 12.67635,
 12.67635,
 10.12918,
 10.12918,
 0.09734,
 0.09734,
 5.49994,
 5.49994,
 2.39034,
 2.39034,
 5.49994,
 5.49994,
 0.15683,
 0.15683,
 5.49994,
 5.49994,
 1.72515,
 3.75856,
 3.75856,
 0.12438,
 0.12438,
 3.75856,
 1.09782,
 1.09782,
 1.09782,
 0.09194,
 0.09194,
 0.0,
 0.11898,
 1.73056,
 1.73056,
 1.73056,
 1.73056,
 12.67635,
 12.67635,
 0.87069,
 0.87069,
 12.67635,
 10.12918,
 10.12918,
 10.12918,
 10.12918,
 5.49994,
 0.17846,
 0.17846,
 3.75856,
 0.34611,
 0.34611,
 0.03245,
 0.03245,
 1.09782,
 0.08653,
 0.08653,
 12.67635,
 10.12918,
 10.12918,
 10.12918,
 1.34659,
 1.34659,
 0.04326,
 0.04326,
 0.26499,
 0.26499,
 0.09734,
 0.09734,
 1.34659,
 0.05949,
 0.05949,
 1.72515,
 0.24336,
 0.24336,
 10.12918,
 10.12918,
 0.51376,
 0.51376,
 0.4705,
 0.4705,
 0.03245,
 0.03245,
 0.55162,
 0.55162,
 0.08653,
 0.08653,
 1.72515,
 0.08653,
 0.08653,
 0.03245,
 0.03245,
 0.58947,
 0.58947,
 0.2001,
 0.2001,
 0.55702,
 0.55702,
 0.49754,
 0.49754,
 0.32448,
 0.32448,
 0.15142,
 0.15142,
 0.03245,
 0.03245,
 0.17306,
 0.17306,
 0.03786,
 0.03786,
 0.10275,
 0.10275,
 0.04867,
 0.04867,
 0.08112,
 0.08112,
 0.09194,
 0.09194,
 0.03245,
 0.03245,
 0.68682,
 0.68682,
 1.11405,
 1.11405,
 1.31955,
 2.15779,
 0.52458,
 1.34659,
 0.69763,
 0.69763,
 0.44346,
 0.44346]

In [25]:
df.columns

Index(['Unnamed: 0', 'cc_x', 'cc_length_(um)', 'cc_vol_from_img_(um3)',
       'branches', 'nodes', 'edges', 'cc_pixel_intensity_ratio',
       'cc_pixel_intensity_488', 'cc_pixel_intensity_405',
       'cc_pixel_intensity_555', 'degree_distribution',
       'cc_average_degree_excludeFreeEnds', 'cc_max_PK',
       'cc_average_connectivity', 'line_id', 'diameter', 'folder_name_x',
       'element_length_(um)', 'element_average_width',
       'element_pixel_intensity_488', 'element_pixel_intensity_405',
       'element_pixel_intensity_555', 'element_pixel_intensity_ratio',
       'folder_name_x.1', 'element_Volume_Voxel', 'point_id', 'x_x', 'y_x',
       'z_x', 'width_(um)', 'pixel_intensity', 'x_pixel', 'y_pixel', 'z_pixel',
       'pixel_intensity_488', 'pixel_intensity_405', 'pixel_intensity_ratio',
       'pixel_intensity_555', 'distance', 'x_y', 'y_y', 'z_y', 'node',
       'degree', 'cc_y', 'vol_cc', 'avg_PK_Of_element', 'element_connectivity',
       'folder_name_y', 'coeff_of_variance_cc', 'coeff_of_variance_line_id'],
      dtype='object')

In [8]:
tempdf = df[['node', 'line_id', 'degree']]
tempdf

KeyError: "['degree'] not in index"

In [ ]:
df_node_2 = df.copy()
df_node_2.rename(columns={'node': 'node_2'}, inplace=True)
df_node_2

      node_2  cc_x  line_id  element_pixel_intensity_ratio
0        NaN     0      130                       0.097645
1        NaN     0      130                       0.097645
2        NaN     0      130                       0.097645
3        NaN     0      130                       0.097645
4        NaN     0      130                       0.097645
...      ...   ...      ...                            ...
2387     NaN   104        1                       0.074575
2388     NaN   104        1                       0.074575
2389     NaN   104        1                       0.074575
2390     NaN   104        1                       0.074575
2391   365.0   104        1                       0.074575

[2392 rows x 4 columns]

In [ ]:
result_df = df.merge(df_node_2, on='line_id')
result_df = result_df[result_df['node'] != result_df['node_2']]

In [ ]:
result_df.drop_duplicates(subset=['line_id'])

,node,cc_x_x,line_id,element_pixel_intensity_ratio_x,node_2,cc_x_y,element_pixel_intensity_ratio_y
0,NaN,0,130,0.097645,NaN,0,0.097645
50,116.0,0,210,0.096132,NaN,0,0.096132
66,315.0,0,51,0.047447,NaN,0,0.047447
2182,227.0,0,277,0.059724,NaN,0,0.059724
2758,232.0,0,126,0.058986,NaN,0,0.058986
...,...,...,...,...,...,...,...
32149,324.0,100,42,0.050332,NaN,100,0.050332
32270,327.0,101,38,0.097924,NaN,101,0.097924
32286,353.0,102,13,0.061762,NaN,102,0.061762
33186,364.0,103,2,0.070354,NaN,103,0.070354
33307,366.0,104,1,0.074575,NaN,104,0.074575